xsd/xberufsbildung-baukasten.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xbbd="http://xberufsbildung.de/def/xberufsbildung/0.4/xsd"
           xmlns:din91379="urn:xoev-de:kosit:xoev:datentyp:din-91379_2022-08"
           xmlns:xbd="http://xbildung.de/def/xbildung/1.1/xsd"
           xmlns:xoev-code="http://xoev.de/schemata/code/1_0"
           targetNamespace="http://xberufsbildung.de/def/xberufsbildung/0.4/xsd"
           version="0.4"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
   <xs:annotation>
      <xs:appinfo>
         <standard>
            <nameLang>XBerufsbildung</nameLang>
            <nameKurz>XBerufsbildung</nameKurz>
            <nameTechnisch>xberufsbildung</nameTechnisch>
            <kennung>urn:xoev-de:kosit:standard:xberufsbildung</kennung>
            <beschreibung>XBerufsbildung</beschreibung>
         </standard>
         <versionStandard>
            <version>0.4</version>
            <versionXOEVProfil>3.0.0</versionXOEVProfil>
            <versionXOEVHandbuch>3.0</versionXOEVHandbuch>
            <versionXGenerator>3.1.1</versionXGenerator>
            <versionModellierungswerkzeug>19.0 SP 4</versionModellierungswerkzeug>
            <nameModellierungswerkzeug>MagicDraw</nameModellierungswerkzeug>
         </versionStandard>
      </xs:appinfo>
   </xs:annotation>
   <xs:import schemaLocation="http://xbildung.de/def/xbildung/1.1/xsd/xbildung-baukasten.xsd"
              namespace="http://xbildung.de/def/xbildung/1.1/xsd"/>
   <xs:import schemaLocation="http://xoev.de/schemata/code/1_0/xoev-code.xsd"
              namespace="http://xoev.de/schemata/code/1_0"/>
   <xs:import schemaLocation="https://xoev.de/schemata/din/91379/2022-08/din-norm-91379-datatypes.xsd"
              namespace="urn:xoev-de:kosit:xoev:datentyp:din-91379_2022-08"/>
   <xs:complexType name="AllgemeinerName">
      <xs:annotation>
         <xs:documentation>Diese Klasse dient der Darstellung von typischen Namensarten natürlicher Personen und fasst deren gemeinsame Eigenschaften zusammen.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="name" minOccurs="0" type="din91379:datatypeC">
            <xs:annotation>
               <xs:documentation>Die Komponente "name" ist der eigentliche Familien- oder Vorname als Zeichenkette. Nachnamen, z.B. mit Adelstiteln bzw. ausländische Nachnamen werden als ein Name übermittelt und nicht in verschiedene Bestandteile aufgeteilt.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="nichtVorhanden" minOccurs="0" type="xs:boolean">
            <xs:annotation>
               <xs:documentation>Diese Komponente beinhaltet eine Feststellung (wahr oder falsch), ob zu Recht kein Name angegeben wurde. Ueber das Setzen auf TRUE, wird angezeigt, dass zurecht kein Name angegeben wurde. Diese Komponente sollte nur bei der Verwendung der Komponente "AllgemeinerName" als Vorname oder Familienname verwendet werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="AngabenAusbildung">
      <xs:annotation>
         <xs:documentation>Die Klasse enthält die Bezeichnung des Ausbildungsberufs, Informationen zum Ausbildungszeitraum der Berufsausbildung sowie zum Prüfungstermin.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="ausbildungsberuf" type="xbbd:Ausbildungsberuf">
            <xs:annotation>
               <xs:documentation>Das Element enthält die Bezeichnung des erlernten Berufs, die Fundstelle der Ausbildungsverordnung sowie weitere prüfungsrelevante Binnendifferenzierungen.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ausbildungszeitraum" minOccurs="0" type="xbbd:Zeitraum">
            <xs:annotation>
               <xs:documentation>Das Element enthält die festgelegte Dauer, über die eine berufliche Ausbildung hinweg erfolgt, typischerweise in Jahren angegeben, wie etwa drei Jahre für viele duale Ausbildungsberufe in Deutschland.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="pruefungstermin" minOccurs="0" type="xbd:TeilbekanntesDatum">
            <xs:annotation>
               <xs:documentation>Das Element enthält das spezifische Datum, an dem eine Prüfung im Rahmen der Abschlussprüfungen für einen Ausbildungsberuf stattfindet. Falls die Bescheinigung während der laufenden Ausbildung ausgestellt wird, kann entweder kein Datum oder ein teilbekanntes angegeben werden. Wird die Bescheinigung hingegen nach Abschluss der Ausbildung ausgestellt, ist die Angabe eines vollständigen Datums erforderlich.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Anschrift">
      <xs:annotation>
         <xs:documentation>Eine Anschrift beschreibt einen Ort mit den klassischen Ordnungsbegriffen wie Orts- und Straßennamen sowie ergänzenden Informationen wie z. B. Ortsteil oder Postfach. Eine Anschrift kann genutzt werden, um Orte zu benennen, an denen sich Personen aufhalten, an denen Objekte zu finden sind, oder an denen Ereignisse stattfinden. Darüber hinaus kann sie genutzt werden, um Post oder Waren zuzustellen. Daher enthält sie auch die notwendigen Attribute um Postfächer zu adressieren. Die Anschrift kann auch über eine Subkomponente verfügen, die eine verwaltungspolitische Zuordnung des Ortes erlaubt (Zuordnung zu einer Gemeinde über den AGS, eines Bundesland, etc.).</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="strasse" minOccurs="0" type="din91379:datatypeB">
            <xs:annotation>
               <xs:documentation>Eine Straße ist ein planmäßig angelegter, im allgemeinen befestigter Verkehrsweg innerhalb eines Ortes. Die "strasse" enthält den Namen/die Bezeichnung einer Straße. Anmerkung: Es soll möglichst der amtliche Straßenname aus einem offiziellen Straßenverzeichnis genutzt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="hausnummer" minOccurs="0" type="din91379:datatypeB">
            <xs:annotation>
               <xs:documentation>Eine Hausnummer dient der genauen Lokalisierung eines Grundstücks, Gebäudes oder Gebäudeteils (Eingang) in einer Straße. Anmerkung: Hausnummern können entsprechend der üblichen Praxis in vielen Gemeinden mit ergänzenden Angaben zur weiteren Unterteilung versehen werden, etwa "12a" oder "17 1/3". Da manche Gebäude oder Organisationen sich als Einheit über mehrere Hausnummern erstrecken, können auch Hausnummernbereiche angegeben werden, etwa "12a - 12e" oder "1 - 3".</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="postfach" minOccurs="0" type="din91379:datatypeB">
            <xs:annotation>
               <xs:documentation>Ein Postfach (oft Postfachnummer) ist ein Schlüssel zur Identifikation eines Postfaches in einer Postfiliale. Anmerkung: Eine Beschränkung auf numerische Postfachbezeichnungen wurde bewusst nicht vorgenommen.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="postleitzahl" minOccurs="0" type="din91379:datatypeB">
            <xs:annotation>
               <xs:documentation>Eine Postleitzahl ist eine Angabe, um postalische Zustellgebiete unabhängig von Gebietskörperschaften (Gemeinde, Kreis, ...) zu bezeichnen. Anmerkung: In Deutschland sind durch Postleitzahlen bezeichnete Bereiche und verwaltungspolitische Grenzen in der Regel aufeinander abgestimmt. Größere Gemeinden und Städte sind häufig in mehrere Postleitzahlengebiete aufgeteilt. Postleitzahlen werden durch die Deutsche Post AG verwaltet. Eine Beschränkung auf deutsche Postleitzahlen (5-stellig) wurde bewusst nicht vorgenommen.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ort" minOccurs="0" type="din91379:datatypeB">
            <xs:annotation>
               <xs:documentation>Der "ort" enthält den Namen eines Ortes (Gemeinde, Ortschaft oder Stadt). Anmerkung: Als Ortsname sollte der amtliche Gemeindename genutzt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="zusatz" minOccurs="0" type="din91379:datatypeB">
            <xs:annotation>
               <xs:documentation>Ein Anschriftenzusatz beinhaltet ggf. erforderliche weitere Präzisierungen zu einer Anschrift. Anmerkung: Anschriftenzusätze können der Anschrift hinzugefügt werden, um eine Adressierung zu erleichtern oder ein Objekt genauer zu beschreiben, als es mit den klassischen Attributen einer Anschrift allein möglich ist. Auf eine Festlegung des Formats von Anschriftenzusätzen wurde wegen der uneinheitlichen Verwendung verzichtet. Beispiele: Hinterhof, 3. Aufgang, Haus A, 3. Stock, Appartement 25a, 3. Stock - Appartement 25 a, #325a, Raum 77</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="staat" minOccurs="0" type="xbd:Code.Staat">
            <xs:annotation>
               <xs:documentation>Der Staat, dem die Anschrift postalisch zugeordnet wird.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Ausbildungsberuf">
      <xs:annotation>
         <xs:documentation>Die Klasse enthält die Bezeichnung des erlernten Berufs, die Fundstelle der Ausbildungsverordnung sowie weitere prüfungsrelevante Binnendifferenzierungen.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="bezeichnung" type="xs:string">
            <xs:annotation>
               <xs:documentation>Das Element enthält die offizielle Bezeichnung des Ausbildungsberufs laut Ausbildungsordnung unter dem eine spezifische Berufsausbildung anerkannt und durchgeführt wird, z. B. Fachkraft für Metalltechnik.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="fundstelle" minOccurs="0" type="xs:string">
            <xs:annotation>
               <xs:documentation>Das Element enthält die Fundstelle der berufsspezifischen Verordnung eines Ausbildungsberufs im Bundesgesetzblatt. Die Fundstelle des Ausbildungsberufes ist die genaue rechtliche Quelle, wie ein Gesetz oder eine Verordnung, in der die Ausbildungsvorschriften und Rahmenbedingungen für diesen Beruf festgelegt sind. z. B. BGBl. I S. 628.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="binnendifferenzierung" minOccurs="0">
            <xs:annotation>
               <xs:documentation>Das Element enthält die Fachrichtung, den Schwerpunkt oder weitere prüfungsrelevante Differenzierung des Ausbildungsberufs. Die Binnendifferenzierung des Ausbildungsberufes bezeichnet die Möglichkeit, innerhalb eines Ausbildungsberufes durch verschiedene Wahlqualifikationen, Fachrichtungen oder Spezialisierungen spezifische Kenntnisse und Fähigkeiten zu vertiefen.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:choice>
                  <xs:element name="fachrichtung" minOccurs="0" type="xs:string">
                     <xs:annotation>
                        <xs:documentation>Das Element enthält die Fachrichtung des Ausbildungsberufs, z. B. Montagetechnik.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="schwerpunkt" minOccurs="0" type="xs:string">
                     <xs:annotation>
                        <xs:documentation>Das Element enthält den prüfungsrelevanten Schwerpunkt des Ausbildungsberufs, z. B. Zerspanungstechnik.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="sonstiges" minOccurs="0" type="xs:string">
                     <xs:annotation>
                        <xs:documentation>Das Element enthält weitere prüfungsrelevante Differenzierungen, wie Einsatzgebiet, Wahlqualifikationen oder Handlungsfelder.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:choice>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Ausbildungsbetrieb">
      <xs:annotation>
         <xs:documentation>Die Klasse enthält den Namen und die Anschrift des Ausbildungsbetriebs. Ein Ausbildungsbetrieb ist ein Unternehmen oder eine Einrichtung, die nach gesetzlichen Vorschriften dazu berechtigt ist, Auszubildende im Rahmen eines anerkannten Ausbildungsberufes praktisch auszubilden.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="name" type="xbbd:NameOrganisation">
            <xs:annotation>
               <xs:documentation>Das Element gibt den Namen des Ausbildungsbetriebs an. Der Name eines Ausbildungsbetriebes ist die offizielle Bezeichnung des Unternehmens oder der Einrichtung, die eine Berufsausbildung durchführt.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="anschrift" minOccurs="0" type="xbbd:Anschrift">
            <xs:annotation>
               <xs:documentation>Das Element enthält Angaben zur Anschrift des Ausbildungsbetriebs. Bei Bedarf kann über den Typ der Anschrift auf deren Verwendung als Postanschrift, Anschrift der Niederlassung oder Gründungsanschrift verwiesen werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ausbildungsstaette"
                     minOccurs="0"
                     type="xbbd:Ausbildungsstaette">
            <xs:annotation>
               <xs:documentation>Das Element enthält Angaben zur Ausbildungsstätte des Ausbildungsbetriebs. Eine Ausbildungsstätte ist anzugeben, wenn sich der Hauptsitz eines Unternehmens an einem anderen Ort befindet als der Standort, an dem die Berufsausbildung absolviert wird. Beim Ausbildungsbetrieb wird in diesem Fall der Hauptsitz angegeben. Die Angaben zum Standort, an dem die Ausbildung größtenteils absolviert wird, werden unter der Ausbildungsstätte erfasst.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="betriebsnummer" minOccurs="0" type="xs:integer">
            <xs:annotation>
               <xs:documentation>Das Element enthält die Betriebsnummer, bestehend aus acht Ziffern, die in Deutschland jeder Arbeitgeber zur Meldung von Sozialversicherungsdaten an die Sozialversicherungsträger benötigt. Aufgrund der in diesen Meldungen verwendeten Betriebsnummer erstellt die Bundesagentur für Arbeit die amtliche Beschäftigungsstatistik.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Ausbildungsstaette">
      <xs:annotation>
         <xs:documentation>Die Klasse enthält Informationen zur Ausbildungsstätte eines Ausbildungsbetriebs. Wenn der Hauptsitz des Unternehmens nicht mit dem Ausbildungsort übereinstimmt, wird der Hauptsitz als Ausbildungsbetrieb und der Ausbildungsort als Ausbildungsstätte angegeben.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="name" type="xbbd:NameOrganisation">
            <xs:annotation>
               <xs:documentation>Das Element gibt den Namen der Ausbildungsstätte an. Die Ausbildungsstätte ist der Ort oder die Einrichtung, an dem die Auszubildenden sowohl die praktische als auch theoretische Ausbildung für einen spezifischen Beruf erhalten.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="anschrift" minOccurs="0" type="xbbd:Anschrift">
            <xs:annotation>
               <xs:documentation>Das Element bietet Informationen zur Adresse der Ausbildungsstätte. Bei Bedarf kann angegeben werden, ob es sich um die Postanschrift, die Adresse einer Niederlassung oder die Gründungsanschrift handelt.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Auszubildender">
      <xs:annotation>
         <xs:documentation>Ein Auszubildender/ eine Auszubildende ist eine natürliche Person, die auf der Grundlage eines Berufsausbildungsvertrages im Rahmen des dualen Systems nach Berufsbildungsgesetz (BBiG) oder Handwerksordnung (HwO) eine Berufsausbildung durchläuft.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="nameNatuerlichePerson" type="xbbd:NameNatuerlichePerson">
            <xs:annotation>
               <xs:documentation>Hier werden Informationen zu den Namen einer natürlichen Person zusammengefasst.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="geburt" type="xbbd:Geburt">
            <xs:annotation>
               <xs:documentation>Hier werden Angaben zur Geburt einer natürlichen Person gemacht.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="staatsangehoerigkeit"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="xbd:Code.Staatsangehoerigkeit">
            <xs:annotation>
               <xs:documentation>Die "staatsangehoerigkeit" einer natürlichen Person gibt an, welchem Staat die Person angehört. Die Staatsangehörigkeit ist das rechtliche Band zwischen dem Staat und dem Staatsangehörigen und bestimmt Rechte wie Pflichten zwischen Staat und Staatsangehörigem.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="anschrift"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="xbbd:Anschrift">
            <xs:annotation>
               <xs:documentation>Hier werden Angaben zur Anschrift einer natürlichen Person gemacht.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="identifikationsnummer"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="xbbd:Identifikation">
            <xs:annotation>
               <xs:documentation>Persönliche Identifikationsnummer einer natürlichen Person, die sie kontextbezogen von allen anderen Personen eindeutig unterscheidet. Eine natürliche Person kann mehrere Identifikationsnummern haben.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="kommunikation"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="xbbd:Kommunikation">
            <xs:annotation>
               <xs:documentation>"Kommunikation" fasst Angaben zur Erreichbarkeit über elektronische Kommunikationskanäle (z.B. Telefon, Fax, E-Mail) zusammen.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="geschlecht" minOccurs="0" type="xbd:Code.Geschlecht">
            <xs:annotation>
               <xs:documentation>Die Komponente "geschlecht" repräsentiert die Angaben zum Geschlecht einer natürlichen Person.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Bemerkung">
      <xs:annotation>
         <xs:documentation>Die Klasse beinhaltet Angaben zu weiterführenden Informationen zum erworbenen Abschluss. Darunter fallen etwa die Teilnahme an Förderunterricht, freiwilligen Arbeitsgemeinschaften oder die Befreiung vom schriftlichen Teil der Ausbilder-Eignungsprüfung etc.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="art" minOccurs="0" type="xbd:Code.ArtDerBemerkung">
            <xs:annotation>
               <xs:documentation>Das Element gibt an, ob es sich um standardisierte Bemerkungen handelt oder nicht.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="beschreibung" minOccurs="0" type="xs:string">
            <xs:annotation>
               <xs:documentation>Das Element ergänzt die Bemerkung um weitere Informationen. Ob und welche Inhalte hier notwendig sind, hängt von der Art der Bemerkung ab.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Code.RechtsgrundlageAbschlusszeugnis">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>Rechtsgrundlage Abschlusszeugnis</nameLang>
               <nameKurz>Rechtsgrundlage Abschlusszeugnis</nameKurz>
               <nameTechnisch>RechtsgrundlageAbschlusszeugnis-Codes</nameTechnisch>
               <kennung>urn:xberufsbildung-de:xberufsbildung:codeliste:rechtsgrundlageabschlusszeugnis</kennung>
               <beschreibung>Die Liste "rechtsgrundlageabschlusszeugnis" bildet häufig verwendete Rechtsgrundlagen im Rahmen der Ausstellung eines Abschlusszeugnisses ab.</beschreibung>
               <herausgebernameLang>XBerufsbildung</herausgebernameLang>
               <herausgebernameKurz>XBerufsbildung</herausgebernameKurz>
            </codeliste>
            <versionCodeliste>
               <version>0.3</version>
               <versionCodelistenHandbuch>1.2</versionCodelistenHandbuch>
            </versionCodeliste>
            <codelistenspalten>
               <code>
                  <datentyp>string</datentyp>
                  <codeSpalte>true</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>true</empfohleneCodeSpalte>
               </code>
               <description-de-DE>
                  <spaltennameLang>Art der Bemerkung</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>true</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>false</empfohleneCodeSpalte>
               </description-de-DE>
            </codelistenspalten>
            <genutzteCodeSpalte>code</genutzteCodeSpalte>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code"
                           form="unqualified"
                           type="xbbd:RechtsgrundlageAbschlusszeugnis-Codes"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xberufsbildung-de:xberufsbildung:codeliste:rechtsgrundlageabschlusszeugnis"/>
            <xs:attribute name="listVersionID"
                          type="xs:normalizedString"
                          use="optional"
                          fixed="0.3"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Fortbildungsabschluss">
      <xs:annotation>
         <xs:documentation>Die Klasse beinhaltet Angaben zur Bezeichnung des Berufs, zur Fundstelle der jeweiligen Fortbildungsordnung und ggf. zum Schwerpunkt der Fortbildung.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="bezeichnung" type="xs:string">
            <xs:annotation>
               <xs:documentation>Da Element enthält die offizielle Bezeichnung des Fortbildungsabschlusses laut Fortbildungsordnung. Es stellt den spezifischen Titel oder die Qualifikation dar, die eine Person nach erfolgreichem Abschluss einer Fortbildung erhält, z. B. Bachelor Professional für Veranstaltungstechnik.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="fundstelle" type="xs:string">
            <xs:annotation>
               <xs:documentation>Das Element enthält die Fundstelle der jeweiligen Fortbildungsordnung im Bundesgesetzblatt oder in anderen amtlichen Verkündungsorganen, z. B. BGBl. I S. 2977.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="schwerpunkt" minOccurs="0" type="xs:string">
            <xs:annotation>
               <xs:documentation>Das Element enthält den Schwerpunkt des Fortbildungsabschlusses. Es handelt sich hierbei um einen spezifischen Bereich oder eine Fachrichtung, auf die sich die Fortbildung konzentriert und in der der Absolvent/ die Absolventin vertiefte Kenntnisse erlangt hat.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Geburt">
      <xs:annotation>
         <xs:documentation>Diese Klasse enthält geburtsbezogene Informationen.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="datum" type="xbd:TeilbekanntesDatum">
            <xs:annotation>
               <xs:documentation>Das "datum" beinhaltet das Geburtsdatum, also Jahr, Monat und Tag der Vollendung der Geburt. Hinweis: Die Nutzung der Klasse "xbd:TeilbekanntesDatum" erlaubt es auch, eine ungenaue Datumsangaben zu machen (Nutzung der Datentypen "gYear" bzw. "gYearMonth").</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="geburtsort" minOccurs="0" type="xbbd:Ortsangabe">
            <xs:annotation>
               <xs:documentation>Hier werden Angaben zum Ort einer Geburt gemacht (z. B. Geburtsort, Geburtsstaat)</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="GesetzlicherVertreter">
      <xs:annotation>
         <xs:documentation>Diese Klasse enthält Daten des gesetzlichen Vertreters der betroffenen Person. Gesetzliche Vertreter sind Personen oder Einrichtungen, die gemäß gesetzlicher Bestimmungen befugt sind, im Namen anderer zu handeln und deren Rechte und Pflichten zu vertreten.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="gesetzlicherVertreterSchluessel"
                     type="xbd:Code.GesetzlicherVertreter">
            <xs:annotation>
               <xs:documentation>Das Element enthält eine Schlüsseltabelle, in der die verschiedenen Arten der gesetzlichen Vertretung dargestellt sind. Siehe Blatt 0001 des DSMeld.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="name" type="xbbd:NameNatuerlichePerson">
            <xs:annotation>
               <xs:documentation>Das Element enthält Namensinformationen des gesetzlichen Vertreters. Der Name des gesetzlichen Vertreters bezieht sich auf die individuelle Bezeichnung der Person oder Einrichtung, die gemäß rechtlicher Bestimmungen befugt ist, im Namen einer anderen Person oder Organisation zu handeln und diese rechtlich zu vertreten.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="anschrift"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="xbbd:Anschrift">
            <xs:annotation>
               <xs:documentation>Das Element dient der Übermittlung der Hauptanschrift des gesetzlichen Vertreters. Die Anschrift des gesetzlichen Vertreters bezeichnet die genaue postalische Adresse der Person oder Einrichtung, die gemäß den gesetzlichen Vorschriften befugt ist, im Namen einer anderen Partei zu handeln und diese rechtlich zu vertreten.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Identifikation">
      <xs:annotation>
         <xs:documentation>Diese Klasse enthält Informationen, die die eindeutige Identifikation von Objekten, Personen oder Organisationen in einem fachlichen Kontext erlauben.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="id" minOccurs="0" type="xs:string">
            <xs:annotation>
               <xs:documentation>Die ID sichert die eindeutige Identifikation von Objekten, Dokumenten, Personen oder Organisationen in einem fachlichen Kontext. Dieses Feld beinhaltet die tatsächlich Angabe, die die fachliche Identifikationen ermöglicht. Es beinhaltet also zum Beispiel die Steuernummer, Krankenversicherungsnummer, Personalausweisnummer, etc.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="beschreibung" minOccurs="0" type="din91379:datatypeC">
            <xs:annotation>
               <xs:documentation>Die "beschreibung" muss verwendet werden, um anzugeben, auf welches Identifikationsmittel es sich bei der "id" handelt. Mögliche Einträge können also zum Beispiel "Steuernummer", "Krankenversicherungsnummer" oder "Personalausweis" sein. Es wird angestrebt, eine Liste von erwarteten Werten anzugeben, damit die Identifikationsmittel einheitlich beschrieben werden. Wird die Klasse von einem Fachmodul für eine Eigenschaft verwendet, die den Kontext eindeutig beschreibt, kann auf die Befüllung der "beschreibung" verzichtet werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="gueltigkeit" minOccurs="0" type="xbbd:Zeitraum">
            <xs:annotation>
               <xs:documentation>Angaben zum Gültigkeitszeitraum der ID. Zum Beispiel die Gültigkeit eines Personalausweises.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Kommunikation">
      <xs:annotation>
         <xs:documentation>Diese Klasse fasst Angaben zur Erreichbarkeit über elektronische Kommunikationskanäle (z.B. Telefon, Fax, E-Mail) zusammen.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="kanal" minOccurs="0" type="xoev-code:Code">
            <xs:annotation>
               <xs:documentation>Der "kanal" gibt an, über welchen Kommunikationskanal eine Erreichbarkeit besteht. Beispiele: Telefon, Fax, E-Mail</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="kennung" minOccurs="0" type="din91379:datatypeC">
            <xs:annotation>
               <xs:documentation>Die "kennung" beinhaltet die konkreten Angaben zur Erreichbarkeit über einen Kommunikationskanal, d.h. die Telefonnummer, Faxnummer, E-Mail-Adresse oder dergleichen. Die Kennung soll strukturiert erfasst werden. Anmerkung: Die Erfassung von Telefonnummern oder Faxnummern kann nach der Gliederungsvorschrift von DIN 5008 oder E.123 der internationalen Fernmeldeunion erfolgen. Als allgemeine Gliederungsvorschrift gilt nach DIN 5008 die Trennung von Ländervorwahl, Ortskennzahl und Teilnehmernummer durch ein Leerzeichen und die Abtrennung der Durchwahl durch einen Bindestrich. Nach E.123 werden Ländervorwahl, Ortskennzahl und Teilnehmernummer ebenfalls durch Leerzeichen getrennt, bei nationalen Rufnummern wird die Ortskennzahl als vernachlässigbarer Teil zusätzlich in Klammern gesetzt. Eine E-Mail-Adresse wird aufgeteilt in einen local-part und einen domain-part, die durch @(at)-Zeichen getrennt werden. Die zulässigen Zeichen für den local part definiert RFC 2822, für den domain-part gelten die Syntaxregeln des Domain Name Systems. Beispiele: +49 30 12345-67 (internationale Rufnummer nach DIN 5008) 030 12345-67 ( nationale Rufnummern nach DIN 5008) +49 89 1234567 (internationale Rufnummer nach E.123) (089) 123456) (nationale Rufnummer nach E.123) tel:+49-30-1234567 (Uniform Resource Identifier nach RFC 3966)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="istDienstlich" minOccurs="0" type="xs:boolean">
            <xs:annotation>
               <xs:documentation>Mit der Komponente "istDienstlich" kann angegeben werden, ob es sich um dienstliche oder private Kommunikationsdaten handelt.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="zusatz" minOccurs="0" type="din91379:datatypeC">
            <xs:annotation>
               <xs:documentation>Im "zusatz" können zusätzliche freie Angaben zur Erreichbarkeit über einen Kommunikationskanal gemacht werden. Beispiel: erreichbar tagsüber zwischen 9 und 16 Uhr</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="NameNatuerlichePerson">
      <xs:annotation>
         <xs:documentation>Diese Klasse bündelt alle Namensarten und Bestandteile, die im fachlichen Kontext relevant sind oder sein können.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="titel" minOccurs="0" type="din91379:datatypeC">
            <xs:annotation>
               <xs:documentation>Ein Titel wird häufig im Zusammenhang mit Namen verwendet, ist aber kein orginärer Bestandteil des Namens. Im Unterschied dazu gehören Adelstitel zum Familiennamen und sind daher in diesem Verständnis kein Titel. Zu den Titeln zählen beispielsweise akademische Grade, Dienst- und Amtsbezeichnungen oder militärische Ränge. Es können auch Titel übermittelt werden, die keine Titel im Sinne des Meldewesens sind. Beispiel: Dr.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="anrede"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="din91379:datatypeC">
            <xs:annotation>
               <xs:documentation>Die Anrede ist der Namenszusatz (auch eine Anrede ohne Namen nur mit Titel ist eine Anrede!) bei der Anrede (mündlich oder schriftlich) oder bei einem Anruf (fernmündlich) an eine Person oder Personengruppe. Anmerkung: Die komplette Anrede einer Person kann in einem Feld übermittelt werden. Beispiel: Herr, Frau, Herr Staatssekretär, Frau Bundeskanzlerin, Herr Botschafter, Eure Eminenz</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="familienname" type="xbbd:AllgemeinerName">
            <xs:annotation>
               <xs:documentation>Der Familienname ist der aktuelle Nachname einer Person und Ausdruck einer bestimmten Familienzugehörigkeit dieser Person.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="geburtsname" minOccurs="0" type="xbbd:AllgemeinerName">
            <xs:annotation>
               <xs:documentation>Der Geburtsname ist der Nachname einer Person, der sich jeweils aus dem Geburtseintrag für diese Person ergibt. Der Geburtsname ist i.d.R. der Nachname, der vor der ersten Eheschließung oder Lebenspartnerschaft geführt wurde.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="vorname" type="xbbd:AllgemeinerName">
            <xs:annotation>
               <xs:documentation>Der Vorname ist der Name bzw. der Teil des Namens, der nicht die Zugehörigkeit zu einer Familie ausdrückt, sondern das Individuum innerhalb der Familie bezeichnet und dazu dient, es von anderen Familienmitgliedern zu unterscheiden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="fruehererVorname"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="xbbd:AllgemeinerName">
            <xs:annotation>
               <xs:documentation>Der frühere Vorname ist der Vorname, der vor einer Vornamensänderung geführt wurde.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="NameOrganisation">
      <xs:annotation>
         <xs:documentation>Diese Klasse fasst die Angaben zum Namen einer Organisation zusammen.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="name" minOccurs="0" type="din91379:datatypeE">
            <xs:annotation>
               <xs:documentation>Offizieller Name einer Organisation. Entspricht bei registrierten Organisationen dem im Register eingetragenen Namen.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="kurzbezeichnung" minOccurs="0" type="din91379:datatypeE">
            <xs:annotation>
               <xs:documentation>Kurzbezeichnung des Namen einer Organisation.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Ortsangabe">
      <xs:annotation>
         <xs:documentation>Diese Klasse umfasst Informationen über den genauen Ort und den Staat eines Ereignisses, wie z.B. Geburt einer Person oder Erwerb eines Dokuments.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="ort" type="din91379:datatypeB">
            <xs:annotation>
               <xs:documentation>Hier werden Angaben zum Ort gemacht.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="staat" minOccurs="0" type="xbd:Code.Staat">
            <xs:annotation>
               <xs:documentation>Hier werden Angaben zum Staat gemacht.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Pruefling">
      <xs:annotation>
         <xs:documentation>Der Prüfling ist eine natürliche Person, welche durch die Teilnahme an einem Bildungsangebot (in einer Ausbildungs- oder Weiterbildungsstätte) Wissen und Kompetenzen erworben hat, die man mit Bildungsnachweisen wie beispielsweise Zeugnissen beurkunden oder bescheinigen kann.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="nameNatuerlichePerson" type="xbbd:NameNatuerlichePerson">
            <xs:annotation>
               <xs:documentation>Hier werden Informationen zu den Namen einer natürlichen Person zusammengefasst.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="geburt" type="xbbd:Geburt">
            <xs:annotation>
               <xs:documentation>Hier werden Angaben zur Geburt einer natürlichen Person gemacht.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="identifikationsnummer"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="xbbd:Identifikation">
            <xs:annotation>
               <xs:documentation>Persönliche Identifikationsnummer einer natürlichen Person, die sie kontextbezogen von allen anderen Personen eindeutig unterscheidet. Eine natürliche Person kann mehrere Identifikationsnummern haben.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Pruefungsbereich">
      <xs:annotation>
         <xs:documentation>Die Klasse enthält die Bezeichnung und Benotung eines Prüfungsbereichs. Der Prüfungsbereich fungiert als strukturelle Einheit zur Gliederung von Prüfungen, indem er sich an den relevanten Tätigkeitsfeldern der Berufspraxis orientiert und die entsprechenden Anforderungen an die Prüflinge definiert.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="bezeichnung" type="xs:string">
            <xs:annotation>
               <xs:documentation>Das Element enthält die Bezeichnung eines Prüfungsteils, z. B. Arbeitsauftrag, Wirtschafts- und Sozialkunde.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="benotung" type="xbd:Benotung">
            <xs:annotation>
               <xs:documentation>Das Element enthält die Angabe der zusammengefassten Note bzw. Bewertung für einen Prüfungsbereich, basierend auf der Leistung einer Person.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Pruefungsleistung">
      <xs:annotation>
         <xs:documentation>Die Klasse beinhaltet die Bezeichnung und Benotung einer Prüfungsleistung. Eine Prüfungsleistung wird unter anderem als Qualifikationsinhalt, Qualifikationsbereich, Handlungsfeld, Prüfungsfach oder als eine andere prüfungsrelevante Kategorie je nach Fortbildungsordnung definiert.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="bezeichnung" type="xs:string">
            <xs:annotation>
               <xs:documentation>Das Element enthält die Bezeichnung einer Prüfungsleitung. Eine Prüfungsleitung bezeichnet die spezifischen Kenntnisse, Fähigkeiten oder Kompetenzen, die für eine bestimmte berufliche Qualifikation erforderlich sind und in einem Ausbildungs- oder Prüfungsrahmen festgelegt werden, z. B. Wirtschafts- und Sozialkunde.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="benotung" minOccurs="0" type="xbd:Benotung">
            <xs:annotation>
               <xs:documentation>Das Element enthält die Angabe einer Note / einer Bewertung für einen Qualifikationsinhalt, basierend auf der Leistung einer Person in diesem spezifischen Abschnitt der Prüfung.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="PruefungsteilAEVO">
      <xs:annotation>
         <xs:documentation>Die Klasse beinhaltet die Bezeichnung und Benotung eines Prüfungsteils, der den Erwerb der berufs- und arbeitspädagogischen Fertigkeiten, Kenntnisse und Fähigkeiten nach der Ausbildereignung-Verordnung (AEVO) nachweist.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="bezeichnung" type="xs:string">
            <xs:annotation>
               <xs:documentation>Das Element enthält die Bezeichnung eines Prüfungsteils. Der Prüfungsteil umfasst einen schriftlichen Prüfungsteil mit fallbezogenen Aufgaben aus verschiedenen Handlungsfeldern sowie einen praktischen Teil, der eine Präsentation einer Ausbildungssituation und ein Fachgespräch beinhaltet.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="benotung" type="xbd:Benotung">
            <xs:annotation>
               <xs:documentation>Das Element enthält die Angabe der zusammengefassten Note bzw. Bewertung für einen Prüfungsteil basierend auf der Leistung einer Person.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="PruefungsteilFortbildungszeugnis">
      <xs:annotation>
         <xs:documentation>Die Klasse beinhaltet Angaben zum Handlungsbereich, einschließlich der Beschreibung und Benotung des Handlungsbereichs sowie die Angaben zu den einzelnen Qualifikationsinhalten. Der Handlungsbereich bezeichnet den Bereich oder die Tätigkeitsfelder, in denen eine Person über spezifische Kompetenzen, Fähigkeiten und Kenntnisse verfügt und handlungsfähig ist.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="bezeichnung" type="xs:string">
            <xs:annotation>
               <xs:documentation>Das Element enthält die Bezeichnung eines Prüfungsteils. Ein Prüfungsteil ist ein spezifischer Abschnitt oder Teil einer Prüfung, der sich auf bestimmte Inhalte, Fähigkeiten oder Kompetenzen konzentriert und separat bewertet wird, z. B. Projektarbeit und projektbezogenes Fachgespräch.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="benotung" type="xbd:Benotung">
            <xs:annotation>
               <xs:documentation>Das Element enthält die Angabe der zusammengefassten Note bzw. Bewertung für einen Prüfungsteil basierend auf der Leistung einer Person in diesem spezifischen Abschnitt der Prüfung.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="pruefungsleistung"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="xbbd:Pruefungsleistung">
            <xs:annotation>
               <xs:documentation>Das Element enthält Angaben zur Prüfungsleitung innerhalb eines Prüfungsteils. Eine Prüfungsleitung beschreibt somit die spezifischen Kenntnisse, Fähigkeiten oder Kompetenzen, z. B. Marketing-Management.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="PruefungsteilPruefungszeugnis">
      <xs:annotation>
         <xs:documentation>Die Klasse beinhaltet Angaben über den Prüfungsteil, einschließlich der Beschreibung und Benotung des Prüfungsteils sowie die Angaben zu den einzelnen Prüfungsbereichen.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="bezeichnung" type="xs:string">
            <xs:annotation>
               <xs:documentation>Das Element enthält die Bezeichnung eines Prüfungsteils, z. B. Teil A der Prüfung, Teil 1 der Abschlussprüfung. Mit der Einführung der gestreckten Abschluss- bzw. Gesellenprüfung (GAP) wurde festgelegt, dass die Bezeichnung Prüfungsteil nur noch für die beiden zeitlich auseinanderfallenden Teile (Teil 1 und Teil 2 der GAP) dieser Prüfungsstruktur benutzt werden soll.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="benotung" minOccurs="0" type="xbd:Benotung">
            <xs:annotation>
               <xs:documentation>Das Element enthält die Angabe der zusammengefassten Note bzw. Bewertung für einen Prüfungsbereich. Diese basiert auf der Leistung einer Person in diesem spezifischen Abschnitt der Prüfung.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="pruefungsbereich"
                     maxOccurs="unbounded"
                     type="xbbd:Pruefungsbereich">
            <xs:annotation>
               <xs:documentation>Das Element enthält Angaben zum Prüfungsbereich innerhalb eines Prüfungsteils, z. B. Arbeitsauftrag oder Wirtschafts- und Sozialkunde. Der Prüfungsbereich fungiert als Strukturelement zur Untergliederung von Prüfungen, indem er sich an den Tätigkeitsfeldern der Berufspraxis orientiert und die Anforderungen an den Prüfling definiert.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="StelleAusstellend">
      <xs:annotation>
         <xs:documentation>Diese Klasse enthält Angaben zu einer Institution oder Behörde, die offizielle Dokumente, Zertifikate oder Nachweise erstellt und ausstellt.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="name" minOccurs="0" type="xbbd:NameOrganisation">
            <xs:annotation>
               <xs:documentation>Angaben zum offiziellen Namen einer Organisation.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="unterorganisation"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="xbbd:StelleAusstellend">
            <xs:annotation>
               <xs:documentation>Angaben zur Unterorganisation dieser Organisation.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="kommunikation"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="xbbd:Kommunikation">
            <xs:annotation>
               <xs:documentation>"Kommunikation" fasst Angaben zur Erreichbarkeit über elektronische Kommunikationskanäle (z.B. Telefon, Fax, E-Mail) zusammen.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="identifikation"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="xbbd:Identifikation">
            <xs:annotation>
               <xs:documentation>eindeutige Identifikation einer Organisation im Bildungswesen</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="anschrift"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="xbbd:Anschrift">
            <xs:annotation>
               <xs:documentation>Angaben zur Anschrift der Organisation. Bei Bedarf kann über den Typ der Anschrift auf deren Verwendung als Postanschrift, Niederlassungsanschrift oder Gründungsanschrift verwiesen werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Zeitraum">
      <xs:annotation>
         <xs:documentation>Der Zeitraum kennzeichnet einen Abschnitt auf einem Zeitstrahl durch Angabe von Beginn und/oder Ende.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="beginn" minOccurs="0" type="xs:date">
            <xs:annotation>
               <xs:documentation>Der Beginn eines Zeitraums beschreibt den Zeitpunkt, ab dem ein Sachverhalt eintritt bzw. rechtskräftig wirksam ist. Der Beginn ist immer Teil der Dauer des Zeitraumes. Anmerkung: Bei der Ableitung von Fachkomponenten sollten zusätzliche Festlegungen getroffen werden wie der Beginn des Zeitraums zu interpretieren ist. z.B.: "Wird ein Monat als Beginn angegeben, dann gilt der erste Tag des Monats als Beginn des Zeitraums" Beispiel: identisch mit *Fristbeginn (BKA) *Wirksamkeitsdatum der Änderung des Familiennamens (Personenstand) *Eheschließungsdatum (Personenstand)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ende" minOccurs="0" type="xs:date">
            <xs:annotation>
               <xs:documentation>Das Ende eines Zeitraumes beschreibt den Zeitpunkt, ab dem ein Sachverhalt endet bzw. nicht mehr rechtskräftig ist. Das Ende ist Teil der Dauer des Zeitraumes. Anmerkung: Bei der Ableitung von Fachkomponenten sollten zusätzliche Festlegungen getroffen werden wie das Ende des Zeitraums zu interpretieren ist. z.B.: "Wird ein Monat als Ende angegeben, dann gilt der letzte Tag des Monats als Ende des Zeitraums" Beispiel: identisch mit *Fristdatum (Bau) *Ablaufdatum (Finanz) *Faelligkeitsdatum (Finanz) *Wirksamkeitsdatum der Aufhebung/Scheidung der Ehe (Personenstand)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="zusatz" minOccurs="0" type="din91379:datatypeC">
            <xs:annotation>
               <xs:documentation>Der Zusatz enthält weitere textuelle Beschreibungen des festgelegten Zeitraums.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="RechtsgrundlageAbschlusszeugnis-Codes">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>Rechtsgrundlage Abschlusszeugnis</nameLang>
               <nameKurz>Rechtsgrundlage Abschlusszeugnis</nameKurz>
               <nameTechnisch>RechtsgrundlageAbschlusszeugnis-Codes</nameTechnisch>
               <kennung>urn:xberufsbildung-de:xberufsbildung:codeliste:rechtsgrundlageabschlusszeugnis</kennung>
               <beschreibung>Die Liste "rechtsgrundlageabschlusszeugnis" bildet häufig verwendete Rechtsgrundlagen im Rahmen der Ausstellung eines Abschlusszeugnisses ab.</beschreibung>
               <herausgebernameLang>XBerufsbildung</herausgebernameLang>
               <herausgebernameKurz>XBerufsbildung</herausgebernameKurz>
            </codeliste>
            <versionCodeliste>
               <version>0.3</version>
               <versionCodelistenHandbuch>1.2</versionCodelistenHandbuch>
            </versionCodeliste>
            <codelistenspalten>
               <code>
                  <datentyp>string</datentyp>
                  <codeSpalte>true</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>true</empfohleneCodeSpalte>
               </code>
               <description-de-DE>
                  <spaltennameLang>Art der Bemerkung</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>true</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>false</empfohleneCodeSpalte>
               </description-de-DE>
            </codelistenspalten>
         </xs:appinfo>
      </xs:annotation>
      <xs:restriction base="xs:token">
         <xs:enumeration value="http://xberufsbildung.de/def/xberufsbildung/0.3/code/rechtsgrundlageabschlusszeugnis/31(2)_hwo">
            <xs:annotation>
               <xs:appinfo>
                  <description-de-DE>§ 31 Abs. 2 HwO</description-de-DE>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="http://xberufsbildung.de/def/xberufsbildung/0.3/code/rechtsgrundlageabschlusszeugnis/37(2)_bbig">
            <xs:annotation>
               <xs:appinfo>
                  <description-de-DE>§ 37 Abs. 2 BBiG</description-de-DE>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="http://xberufsbildung.de/def/xberufsbildung/0.3/code/rechtsgrundlageabschlusszeugnis/37_bbig">
            <xs:annotation>
               <xs:appinfo>
                  <description-de-DE>§ 37 BBiG</description-de-DE>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="http://xberufsbildung.de/def/xberufsbildung/0.3/code/rechtsgrundlageabschlusszeugnis/62(3)_ivm_37(2)_bbig">
            <xs:annotation>
               <xs:appinfo>
                  <description-de-DE>§ 62 Abs. 3 i.V.m. § 37 Abs. 2 BBiG</description-de-DE>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="http://xberufsbildung.de/def/xberufsbildung/0.3/code/rechtsgrundlageabschlusszeugnis/66_ivm_ 37(2)_bbig">
            <xs:annotation>
               <xs:appinfo>
                  <description-de-DE>§ 66 i.V.m. § 37 Abs. 2 BBiG</description-de-DE>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="http://xberufsbildung.de/def/xberufsbildung/0.3/code/rechtsgrundlageabschlusszeugnis/~wert_nicht_in_liste">
            <xs:annotation>
               <xs:appinfo>
                  <description-de-DE>Wert nicht in Liste</description-de-DE>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>
